textarea {
    width: 90vw;
    height: 50vh;
    resize: none;
}

button {
    margin: 1rem;
    background-color: #FFA07A;
    color: #514c4c;
    padding: 0.7rem;
    border: none;
    border-radius: 0.3rem;
    font-size: large;
    text-transform: capitalize;
}