body {
    background: rgba(27, 27, 30, 0.56);
}

kbd {
    background: #fff;
    border: 1px solid #1b1b1e;
    border-radius: 0 0 10px 10px;
    font-weight: 700;
    padding-top: 150%;
    padding-left: 45%;
}
.container {
    margin: auto;
    width: 960px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 300px;
}
.container kbd {
    font-size: 1.75em;
    top: 50%;
    position: relative;
    text-shadow: 0 1px 1px rgba(255, 255, 255, .9), 0 -1px 1px rgba(0, 0, 0, .1);
    color: #1b1b1e;
}