
body {
    background: rgba(27, 27, 30, 0.56);
}

kbd {
    border: 1px solid #1b1b1e;
    border-radius: 0 0 10px 10px;
    font-weight: 700;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25vh;
    margin-left: -35vw;
    width: 60vw;
    height: 50vh;
}
.white-keys {
    position: absolute;
    justify-items: center;
    display: flex;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
.white-keys kbd {
    background: #fff;
    font-size: 1.75em;
    flex-grow: 1;
    text-shadow: 0 1px 1px rgba(255, 255, 255, .9), 0 -1px 1px rgba(0, 0, 0, .1);
    color: #1b1b1e;
    font-family: 'Roboto Mono', monospace;
    padding-top: 20%;
}
.black-keys {
    justify-items: center;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    height: 50%;
    width: 100%;
    z-index: 5;
}
.black-keys kbd {
    background: #000;
    font-size: 1.75em;
    display: inline-block;
    width: 9%;
    text-shadow: 0 1px 1px rgba(255, 255, 255, .9), 0 -1px 1px rgba(0, 0, 0, .1);
    color: #fff;
    padding-top: 13%;
}
#W {
    margin-left: 5%;
}
#E {
    margin-left: 5%;
}
#T {
    margin-left: 19.5%;
}
#Y {
    margin-left: 5%;
}
#U {
    margin-left: 5%;
}